<div class="sidebox-extended">
    <div class="header">
        <h4><a href="#">{{ site.name_long }}</a></h4>
    </div>

    <div class="box">
        <div class="content">
            {{ properties.message_html }}
        </div>

        <div class="content bg-gray-light clearfix">
            {% if not site.private %}
            <strong>{% trans _('Admin') %} | <a href="{{ owner.user_login|useruri }}">{{ owner.user_login }}</a></strong>
            {% endif %}

            <strong class="pull-right">{{ site.followers }} {% trans _('seguidores') %}</strong>
        </div>
    </div>

    <div class="footer content bg-gray-medium">
        {% if user.user_id %}

        <a href="javascript:add_remove_sub('{{ site.id }}', 1)" class="button follow_b_{{ site.id }}" title="{% trans _('suscripción al sub') %}"/>
            <i class="fa fa-check-circle-o"></i>
            <span>{% trans _('Seguir') %}</span>
        </a>

        {% else %}

        <a href="{{ globals.base_url_general }}login?return={{ globals.uri|urlencode }}" class="button" title="{% trans _('suscripción al sub') %}"/>
            <i class="fa fa-check-circle-o"></i>
            <span>{% trans _('Seguir') %}</span>
        </a>

        {% endif %}
    </div>
</div>
