<section class="section section-medium section-with-sidebar">
	<h1 class="text-center">{% trans _('Subs') %}</h1>

	<p class="intro intro-large">{% trans _('Los subs son secciones temáticas que te permiten personalizar las noticias que ves. Selecciona los temas que te interesan y podrás verlo en tu portada de suscripciones.') %}</p>

	{% if can_edit %}
		<a href="{{ globals.base_url }}subedit"><b>{% trans _('crear sub') %}</b></a><br/><br/>
	{% endif %}

	<form action="{{ globals.base_url }}subs?all" class="form form-search" method="get">
		<div class="input-row input-row-search">
			<i class="fa fa-search"></i>
			<input type="search" name="q" class="input input-search" value="{{ q|escape }}" placeholder="{% trans _('Encuentra el sub que estás buscando') %}"/>
		</div>

		<div class="clearfix input-row">
			{% if chars %}
			<div class="charlist pull-left">
				{% for c in chars %}
				<a href="?all&amp;c={{ c }}" {% if c == char_selected %}class="selected"{% endif %}>{{ c }}</a>
				{% endfor %}
			</div>
			{% endif %}

			<div class="pull-right">
				<select class="input input-filter">
					<option value="subscribed" {% if option === 0 %}selected{% endif %}>{% trans _('Mis suscripciones') %}</option>
					<option value="all" {% if option === 2 %}selected{% endif %}>{% trans _('Todos') %}</option>
					<option value="active" {% if option === 1 %}selected{% endif %}>{% trans _('Los más activos') %}</option>
				</select>
			</div>
		</div>
	</form>

	<table class="subs-listing">
		{% for s in subs %}
		<tr>
			<td class="color" {% if s.color2 %}style="background-color: {{ s.color2 }};"{% endif %}>&nbsp;</td>

			<td class="followers">
				<span><strong>{{ s.followers }} </strong> {% trans _('seguidores') %}</span>
			</td>

			<td class="logo">
				{% if s.user_id %}
				<img width="40" height="40" data-src="{% exec get_avatar_url s.user_id, s.user_avatar, 40, false %}" data-2x="s:-20.:-40." alt="" src="{{ globals.base_static }}img/g.gif" class="tooltip u:{{ s.user_id }} avatar lazy"/>&nbsp;
				{% else %}
				<img width="40" height="40" data-src="{% exec get_no_avatar_url 40, false %}" data-2x="s:-20.:-40." alt="" src="{{ globals.base_static }}img/g.gif" class="avatar lazy"/>&nbsp;
				{% endif %}
			</td>

			<td class="name">
				<a href="{{ s.base_url }}m/{{ s.name }}" title="{{ s.name_long|escape }}">{{ s.name }}</a>

				<div class="description">
					{% if s.nsfw %}<strong>[nsfw]</strong>{% endif %}
					{{ s.name_long }}
				</div>
			</td>

			<td class="actions">
				<span class="followers"><strong>{{ s.followers }} </strong> {% trans _('seguidores') %}</span>
				{% exec print_follow_sub s.id as dummy %}
			</td>
		</tr>
		{% endfor %}
	</table>

	{% if option === 2 %}
	<div class="pagination-center">
		{% exec do_pages rows page_size false as dummy %}
	</div>
	{% endif %}
</section>